    header {
        border: 2px solid rebeccapurple;
        text-align: center;
        background-color: aqua;
    }
    
    .conteneur {
        height: 78vh;
    }
    
    form {
        font-size: 2em;
    }
    
    select {
        font-size: 0.8em;
    }
    
    footer {
        border: 2px solid rebeccapurple;
        text-align: center;
        background-color: aqua;
    }
    
    .ok {
        padding: 0.7em 20em;
        margin-top: 1em;
        background-color: blue;
        color: white;
        font-size: 0.5em;
    }
    
    .date {
        font-size: 2em;
    }